body {
    font-family: Arial, sans-serif;
  background-color: rgb(255, 255, 255); 
      text-align: center;
    margin: 0;
    padding: 0;
    background-size: cover;
  }

  header {
    background-color:#3d413d;
   color: white;
   padding: 10px;
   text-align: center;
 }

nav ul {
    list-style: none;
    margin: 0;
    padding:10px;
    padding-top: -30px;
    margin-top: -55px;
  }

  nav ul li {
    
    display: inline-block;
    margin: 0 10px;
    margin-top: 20px;
}

  nav ul li a {
    color: rgb(95, 192, 221);
    text-decoration: none;
font-size: 15px;
font-weight:550;
 padding: 12px 10px;
    
  } 



  .registration-container {

    border: 2px solid #312c2c;
    padding: 20px;
    margin: 20px auto;
   
    width: 320px;
    height: 430px;
    text-align: center;
    background-color:rgb(213, 213, 255);      

    
  }

  .registration-container h1 {
    color: #000000;
    margin-top: 2%;
    text-align: center;
    /* font-size: 24px;
    margin-bottom: 20px;
    color: #333; */
  }

  .form-group {
    margin-bottom: 15px;
    text-align: center;
  }

  .form-group label {
    /* display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #555; */

    color: #000000;
        display: block;
        margin-top: 20px;
        margin-bottom: 10px;
  }

  .form-group input {
    /* width: 60%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px; */

    margin-top: 8px;
    width: 90%;
    padding: 10px;
    border: 1px solid #696262;
    border-radius: 4px;
  }

  .form-group input:focus {
    outline: none;
    border-color: #0d9488;
    box-shadow: 0 0 4px rgba(13, 148, 136, 0.5);
  }

  .submit-btn {
    /* background: #0d9488;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px; */

    background-color: #615f4b;
    color: rgb(255, 255, 255);
    padding: 15px 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
  }

  .submit-btn:hover {
    background: #fbfffe;
    color: #000000;
  }

  .login-link {
    margin-top: 15px;
    font-size: 14px;
    color: #050404;
  }

  .login-link a {
    color: #011816;
    text-decoration: none;
  }

  .login-link a:hover {
    text-decoration: underline;
  }